.logo
{
    background-color: rgb(14, 14, 14);
    text-align: center;
    padding: 2vmin;
    font-weight: bold;
    font-size: 4.5vmin;
    letter-spacing: .25vmin;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:10vmin;
    
}
.search-section
{
    box-shadow: .1vmin .1vmin 4vmin .5vmin rgb(0, 0, 0);
    width:90%;
    border-radius: 3vmin;
    margin: 5vmin auto 0 auto;
    font-size: 5vmin;
    text-align: center;
    padding: 3vmin;
    background-color: rgb(28, 28, 28);
}
.icon
{
    display: inline-block;
    margin-right: 1vmin;
}
.search-heading
{
    font-size: 7vmin;
    margin-bottom: 1vmin;

}
.getAny
{
    font-size: 3vmin;
}
.search-box
{
    margin-top: 2.5vmin;
    width:95%;
    height:6.9vmin;
    border: 0;
    border-radius: 1.25vmin;
    padding: 2.2vmin;
    background-color: rgb(0, 0, 0);
    font-size: 3.5vmin;
    transition: all.3s;
    color:rgb(172, 172, 172);
    border:.2vmin solid grey;
    letter-spacing: .3vmin;
    font-family: 'Montserrat', sans-serif;;
}
.search-box:focus
{
    outline:0;
    border:.3vmin solid grey;
    box-shadow: .1vmin .1vmin 1vmin .5vmin rgb(43, 43, 43);

}
.button
{
    width: 95%;
    margin-top: 2.25vmin;
    height:7vmin;
    border: 0;
    border-radius: 1vmin;
    background-color:rgb(0, 0, 0);
    color: rgb(160, 160, 160);
    font-size: 4vmin;
    cursor: pointer;
    transition: all .3s;
}
.button:hover
{
    opacity: .5;
    box-shadow: .1vmin .1vmin 2vmin .5vmin rgb(54, 54, 54);

}