.card
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: .2vmin .2vmin 2vmin .75vmin black;
    background-color: rgb(27, 27, 27);
    padding:2vmin;
    border-radius: 1.75vmin;
    transition: all.3s;
    color: rgb(216, 216, 216);
    
}

.song-name
{
    cursor: pointer;
    font-size: 5vmin;
    font-weight:500;
    white-space:nowrap;
  overflow-y: auto;

}
.song-name::-webkit-scrollbar { 
    display: none;
 }
.card .artist,.album
{
    cursor: pointer;
    white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
    font-size: 2.5vmin;
}
.card .view-lyrics
{
    background-color: black;
    text-decoration: none;
    text-align: center;
    padding-top: 2vmin;
    border:0;
    font-size: 3vmin;
    cursor: pointer;
    letter-spacing: .05vmin;
    height:8vmin;
    border-radius: 1.25vmin;
    transition: all .3s;
    color: rgb(160, 160, 160);
}
.view-lyrics:hover
{
    opacity: .6;
    box-shadow: .1vmin .1vmin 1vmin .2vmin rgb(41, 41, 41);


}