.logo
{
    background-color: rgb(31, 31, 31);
    text-align: center;
    padding: .75em;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: .1em;
    font-family:Arial, Helvetica, sans-serif;
    height:10vh;
}
.search-section
{
    box-shadow: .1em .1em 2em .5em rgb(0, 0, 0);
    width:90%;
    border-radius: 1em;
    margin: 5vmin auto 0 auto;
    font-size: 1.75em;
    text-align: center;
    padding: 1.25em;
    background-color: rgb(27, 27, 27);
}
.icon
{
    display: inline-block;
    margin-right: .2em;
}
.search-heading
{
    font-size: 1.75em;
    margin-bottom: 1vh;

}
.getAny
{
    font-size: .75em;
}
.search-box
{
    margin-top: 2.5vh;
    width:95%;
    height:2.25em;
    border: 0;
    border-radius: .25em;
    padding: .5em;
    font-size: .75em;
}
.search-box:focus
{
    outline: 0;
}
.button
{
    width: 95%;
    margin-top: 2vh;
    height:2em;
    border: 0;
    border-radius: .25em;
    background-color:rgb(0, 0, 0);
    color: rgb(160, 160, 160);
    font-size: 1em;
    cursor: pointer;
    transition: all .3s;
}
.button:hover
{
    opacity: .5;

}